* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 50%;
    height: 100%;
    margin: 200px auto;
    display: flex;
    flex-wrap: wrap;
}

#container .items {
    width: 80%;
    height: 100%;
}

.item {
    position: relative;
    display: none;
}

.items img {
    width: 100%;
    height: 400px;
}

.text {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: white;
}

.thumbs {
    width: 20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.thumbs img {
    width: 100%;
    height: calc(400px / 5);
    filter: opacity(0.4);
    margin-bottom: -5px;
}

.indietro{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
}

.avanti{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    margin-right: 40px;
    line-height: 30px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
}

.fa-arrow-up, .fa-arrow-down {
    color: white;
}


.active {
    display: block;
}

.active img {
    filter: opacity(1);
}

.thumbs .active {
    border: 3px solid black;
}